body{
    background-image: url(../imagenes/imagen6.jpg);
    margin: 0;
    padding: 0;
    background-size: 1900px;
}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}

.tittle {

   
    margin-left: 30px;
}
h1{
    color: $titulo;
    font-family: 'League Spartan', ;
    padding: 35px;
    font-size: 50px;
    text-align: center;
}

h2{
    color: $texto;
}

span{
    text-align: center;
    color:$titulo;
    font-size: 50px;
}

 p{
    font-family: 'League Spartan', ;
    font-size: 30px;
    color:$titulo;
 }

footer{
    padding: 0%;
}

i{
    font-size: 25px;
}


h5{
    color: $texto;
    font-size: 30px;

}

.logoimg{
    height: 100px;
    margin-right: 10px;
    transition: all 0.5s;

    &:hover{
        height : 200px;
    }

}
.jota{
    transition: all 0.5s;
    &:hover{
        font-size:20px;
    }
} 
.ja{
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}

/* Pseudo-Clases */
a{
 text-decoration: none;
 color: $texto;
}

a:visited {

    color: $texto;
}
nav a:hover{
    color: rgb(255, 255, 255);
}

nav a{
    font-weight: 600;
   padding-right: 10px;
}

.messi1{
    width: 100%;
    display: flex;
    margin: 10px;
    height: 300px;
    margin-right: 10px;
}

.messi2{
margin: 10px;
font-size: 30px;
padding-left: 110px;
font-family: 'League Spartan', ;
}

.messi3{
display: flex;
margin-top: 500px;
height: 300px;
margin-right: 10px;
}

.messi4{
    
    display: flex;
    margin: 10px;
    height: 620px;
    margin-right: 10px;
}

.messi5{
    display: flex;
    margin: 10px;
    height: 420px;
    margin-right: 10px;
}

.messi6{
    display: flex;
    margin: 10px;
    height: 320px;
    margin-right: 10px;
}


@media screen and (max-width:600px) {
    
    .messsi2 {
        padding-right: 10px;
        font-size: 10px;
        
    }

    .res {
        padding-left: none;
        padding-right: 5px;
        height: 25%;

    }   
    .messi2 {
        
       padding-right: 10px;
        font-size: 10px;
        display:contents;
    }
    .messsi3{
        
        font-size: 20px;
    }
    .messii2{
        font-size: 10px;
       
    }

}

@media screen and (min-width:601px) {
    
    .messsi2 {
        padding-right: 10px;
        font-size: 20px;
        padding-left: 10px;
    }

    .res {
        height: 50%;

    }   

    .messi4{
      
        margin-top: 20px;
    }

    .messi2{
        margin-left: 10px;
        padding-left: 10px;
        font-size: 20px;
        display:contents;

    }
    .messsi3 {
        margin: 10px;
        padding-left: 10px;
        font-size: 15px;
        flex: content;
    }
    .messii2 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 19px;
        display:contents;
    }
}

