body{
   
    background-image: url(../imagenes/imagen6.jpg);
    margin: 0;
    padding: 0;
    background-size: 1900px;

}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
h1{
    color: $titulo;
    font-family: 'League Spartan', ;
    padding: 35px;
    font-size: 50px;
    text-align: center;
}

h2{
    color: $texto;
}

span{
    text-align: center;
    color:$titulo;
    font-size: 50px;
}

 p{
    font-family: 'League Spartan', ;
    font-size: 30px;
    color:black;
 }

footer{
    padding: 0%;
}

i{
    font-size: 25px;
}

.nosotros{
    color: black;
    font-size: 30px;
    text-align: center;
}


h5{
    color: #0d6efd;
    font-size: 30px;
    text-align: center;
}

.logoimg{
    height: 70px;
    margin-right: 10px;
    transition: all 0.5s;

    &:hover{
        height : 200px;
    }

}

.jota2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jota{
    
    transition: all 0.5s;
    &:hover{
        font-size:20px;
    }
} 
.ja{
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}

/* Pseudo-Clases */
a{
 text-decoration: none;
 color: rgb(0, 0, 0);
}

a:visited {

    color: rgb(0, 0, 0);
}
nav a:hover{
    color: rgb(255, 255, 255);
}

nav a{
    color: rgb(0, 0, 0);
    font-weight: 600;
   padding-right: 10px;
}
.clasedelvideo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.video1{
    display: block;
    
    margin-bottom: 30px;
    transition: all 0.5s;
    &:hover{
        width: 610px;
        height: 340px;
    }
}
.mejores{
    text-align: center;
    color:$titulo;
    margin-right: 90px;
    font-size: 70px;
    font-family: 'League Spartan', ;
    }

.parrafoIntro{
        color: white;
        text-align: center;
    }
.blanco{
    display:flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    width: 800px;
    padding: 10px;
}
   
.jotaa{
    margin-left: 1300px;
}
