body{
    background-image: url(../imagenes/imagen6.jpg);
    margin: 0;
    padding: 0;
    background-size: 1900px;
}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}

.tittle {

   
    margin-left: 30px;
}
h1{
    color: $titulo;
    font-family: 'League Spartan', ;
    padding: 35px;
    font-size: 50px;
    text-align: center;
}

h2{
    color: $texto;
}

span{
    text-align: center;
    color:$titulo;
    font-size: 50px;
}

 p{
    font-family: 'League Spartan', ;
    font-size: 30px;
    color:$titulo;
 }

footer{
    padding: 0%;
}

i{
    font-size: 25px;
}

.nosotros{

    color: $texto;
    font-size: 30px;
}

h5{
    color: $texto;
    font-size: 30px;

}

.logoimg{
    height: 100px;
    margin-right: 10px;
    transition: all 0.5s;

    &:hover{
        height : 200px;
    }

}
.jota{
    transition: all 0.5s;
    &:hover{
        font-size:20px;
    }
} 
.ja{
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}

/* Pseudo-Clases */
a{
 text-decoration: none;
 color: $texto;
}

a:visited {

    color: $texto;
}
nav a:hover{
    color: rgb(185, 26, 26);
}

nav a{
    font-weight: 600;
   padding-right: 10px;
}

.nosotros2{
    color: black;
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}
.nosotros1{
    color: black;
    margin: 5px;
}

.padre{
    display: flex;
    justify-content: center;
}

.yo{
   
    padding-bottom: 10px;
    border-radius: 20px;
    width: 500px;
    height: 650px;
}

.blanco{
    margin-top: 10px;
    background-color: grey;
    border-radius: 20px;
}