body{
    background-image: url(../imagenes/imagen6.jpg);
    margin: 0;
    padding: 0;
    background-size: 1900px;
}
html, body {
    width: 100% !important;
    overflow-x: hidden !important;
}

.tittle {

   
    margin-left: 30px;
}
h1{
    color: $titulo;
    font-family: 'League Spartan', ;
    padding: 35px;
    font-size: 50px;
    text-align: center;
}

h2{
    color: $texto;
}

span{
    text-align: center;
    color:$titulo;
    font-size: 50px;
}

 p{
    font-family: 'League Spartan', ;
    font-size: 30px;
    color:$titulo;
 }

footer{
    padding: 0%;
}

i{
    font-size: 25px;
}

.nosotros{

    color: black;
    font-size: 30px;
}

h5{
    color: #0d6efd;
    font-size: 30px;

}

.logoimg{
    height: 100px;
    margin-right: 10px;
    transition: all 0.5s;

    &:hover{
        height : 200px;
    }

}
.jota{
    transition: all 0.5s;
    &:hover{
        font-size:20px;
    }
} 
.ja{
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}

/* Pseudo-Clases */
a{
 text-decoration: none;
 color: $texto;
}

a:visited {

    color: $texto;
}
nav a:hover{
    color: rgb(255, 255, 255);
}

nav a{
    font-weight: 600;
   padding-right: 10px;
}

.nosotros2{
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    &:hover {
    font-size: 80px;
    }
}
.nosotros1{
    color: rgb(255, 255, 255);
    margin: 5px;
    text-align: center;
}

.padre{
    display: flex;
    justify-content: center;
   

}

.blanco{
    backdrop-filter: blur(15px);
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
}

.yo{
    height: 700px;
    width: 500px;
    border-radius: 20px;
    margin: 10px;

}


@media screen and (max-width:810px){

    .blanco{
        backdrop-filter: blur(15px);
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        margin: 10px;
        width: 500px;
    }

}

@media screen and (max-width:520px){

    .blanco{
        backdrop-filter: blur(15px);
        background-color: transparent;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 20px;
        margin: 10px;
        width: 300px;
    }

    .yo{
        width: 300px;
        height: 400px;
    }
}
